:root {
  --primary-color: #ffffff;
  --secondary-color: #333333;
  --accent-color: #777777;
  --font-family: "Poppins", sans-serif;
  --text-color: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  background-color: var(--secondary-color);
  color: var(--text-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

header {
  margin-top: 20px;
}

header h1 {
  font-size: 2rem;
  color: var(--primary-color);
}

main {
  padding: 20px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#upload {
  max-width: 500px;
  width: 100%;
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 10px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: var(--primary-color);
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

input[type="file"] {
  padding: 12px;
  background: var(--secondary-color);
  border: 2px dashed var(--primary-color);
  border-radius: 5px;
  color: var(--primary-color);
  cursor: pointer;
  transition: background 0.3s ease;
}

input[type="file"]:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
}

button {
  padding: 10px 20px;
  background: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
  width: 100%;
  margin-top: 15px;
}

button:hover {
  background: var(--accent-color);
  color: var(--primary-color);
}

.image-preview {
  width: 100%;
  margin-bottom: 20px;
}

.image-preview img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.ascii-output {
  background: var(--secondary-color);
  padding: 20px;
  color: var(--primary-color);
  border-radius: 5px;
  font-family: monospace;
  white-space: pre-wrap;
  min-height: max-content;
  max-width: max-content;
  word-wrap: break-word;
}

footer {
  padding: 10px;
  background: var(--secondary-color);
  color: var(--primary-color);
  font-size: 0.9rem;
  margin-top: 30px;
  width: 100%;
  text-align: center;
}
